.article-page {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

.article-page-image {
  width: 600px;
  height: 430px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
}

.article-page h1 {
  display: none;
}

.article-page p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.article-page h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
}

.article-page h3 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-family: "Orbitron", sans-serif;
}

.article-page li {
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.article-page strong {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 1023px) {
  .article-page {
    padding: 15px;
    margin-top: 30px;
  }

  .article-page h1 {
    display: none;
    font-size: 2.5rem;
  }

  .article-page h2 {
    font-size: 2rem;
  }

  .article-page h3 {
    font-size: 1.8rem;
  }

  .article-page p {
    font-size: 1.4rem;
  }

  .article-page li {
    font-size: 0.9rem;
  }

  .article-page strong {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .article-page {
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .article-page-image {
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  .article-page h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    display: none;
    margin-left: 20px;
  }

  .article-page h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .article-page h3 {
    margin-left: 20px;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .article-page p {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .article-page li {
    font-size: 0.8rem;
  }

  .article-page strong {
    font-size: 0.9rem;
  }
}
