.article-page {
  padding: 20px 30px;
  max-width: 800px;
  margin: 40px auto 0;
  color: #ffffff;
  background-color: #000000;
}

.green {
  color: #6fd430;
  background-color: #000000;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.article-main-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.article-page h1 {
  display: none;
}

.article-page p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.article-page h2,
.article-page h3,
.article-page strong {
  font-family: "Orbitron", sans-serif;
}

.article-page h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.article-page h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.article-page li {
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.article-page strong {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .article-page {
    padding: 15px;
    margin-top: 180px;
  }
  .article-banner {
    margin-top: 150px;
  }

  .article-page h2 {
    font-size: 2rem;
  }

  .article-page h3 {
    font-size: 1.8rem;
  }

  .article-page p {
    font-size: 1.4rem;
  }

  .article-main-image {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .article-page {
    padding: 10px;
    margin-top: 20px;
  }
  .article-banner {
    margin-top: 40px;
  }

  .article-main-image {
    max-width: 100%;
    height: auto;
  }

  .article-page h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .article-page h3 {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .article-page p {
    font-size: 1.2rem;
  }
}
