# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
.cfg
# Production
/build

# Environment variables
.env
.env.*


# Systemowe pliki i katalogi
.DS_Store
Thumbs.db

# Lokalny IDE/edytor konfiguracji
.vscode/
.idea/
*.iml

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# Binaries
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
*.log
