.dark-background {
  background: linear-gradient(to bottom, #181818, #242424);
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.body-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 140px;
  margin-top: 20px;
  padding-top: 50px;
}

.image-wrapper {
  flex: 1 1 calc(33.33% - 40px);
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  cursor: pointer;
}

.body-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0.9;
}

.body-image:hover {
  transform: scale(1.2);
  opacity: 1;
}

.image-label {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-description {
  font-size: 1.3rem;
  color: #ffffff;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .image-wrapper {
    flex: 1 1 calc(50% - 20px);
    gap: 20px;
  }
}

@media (max-width: 968px) {
  .image-wrapper {
    flex: 1 1 50%;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    gap: 0;
  }

  .body-images {
    gap: 15px;
    padding-top: 60px;
  }

  .body-image {
    max-width: 180px;
  }
}

@media (max-width: 480px) {
  .body-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 40px;
    padding-top: 5px;
  }

  .image-wrapper {
    flex: 1 1 50%;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    gap: 0;
  }

  .body-image {
    max-width: 140px;
    height: auto;
    margin-bottom: 1px;
  }

  .image-label {
    font-size: 1.8rem;
    margin-bottom: 1px;
    min-height: 30px; /* Ustaw stałą wysokość dla tytułu */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-description {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 1px;
    min-height: 60px; /* Ustaw stałą wysokość dla opisu */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .leaflet-container {
    display: none;
  }
  .leaflet-popup-content {
    font-size: 0.3rem;
    overflow: visible !important;
    z-index: 9999 !important;
  }
}
