.menu-container {
  position: relative;
  display: inline-block;
}

.menu-title {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.menu-list {
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  border: 1px solid #cccccc;
  width: 270px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  z-index: 1050;
}

.menu-list.open {
  max-height: 500px;
  color: black;
}

.menu-list li {
  padding: 15px 10px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.8);
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.menu-list li:first-child {
  margin-top: 20px;
}

.menu-list li:last-child {
  border-bottom: none;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.menu-link:hover {
  color: #007bff;
}

@media (max-width: 480px) {
  .menu-title {
    font-family: "Orbitron", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
  }

  .menu-list {
    left: 0;
    width: 140%;
  }
}

@media (min-width: 1024px) {
  .menu-list {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-title {
    margin-top: 40px;
    font-size: 2rem;
    white-space: normal;
  }
}
